* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: beige;
}

.header {
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(147, 43, 43);
    color: white;
}

.header h1 {
    display: inline-block;
}

.navbar {
    float: right;
    padding-top: 10px;
    margin-right: 10px;
    
}

.nav-ul {
    list-style-type: none;
}

.link {
    display: inline-block;
    margin-left: 30px;
    
}

.link a {
    color: white;
    text-decoration: none;
}

.image {
    width:100%;
    height: 150px;
    background-image: url(../images/pattern_image.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column-reverse;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.image h2 {
    color: white;
    padding: 5px;
    margin-top: 10px;
    font-family: fantasy;
    font-style: italic;
    font-size: xx-large;
    
}

.Article {
    display: grid;
    min-height: 400px;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-areas: 
    "amHeading amContent amContent";
}
.Heading {
    grid-area: amHeading;
    border-right: solid red;
    border-right-width: thick;
    padding-top: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    
}

.Heading h3 {
    margin-right: 10px;
    font-size: 2.5em;
}


.Content {
    grid-area: amContent;
    padding-top: 10px;
    margin-top: 10px;
}

#amContent p {
    margin-left: 10px;
    margin-top: 30px;
    border: 1cm;
}

#amContent img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 270px;
    margin-bottom: 10px;
    border-radius: 15px 50px;
  
}

#wContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas:
    "luxuryWatch luxuryWatch"
    "luxuryWatch luxuryWatch"
    "htmlCssGit simpleBio"
    "javaScript Calculator";
}

#luxurywatch {
    grid-area: luxuryWatch;
    background-image: url("../images/luxurywatchscreenshot.png");
    
    
}

#htmlcssgit {
    grid-area: htmlCssGit;
    background-image: url("../images/htmlcssgitscreenshot.png");
    
}



#simplebio {
    grid-area: simpleBio;
    background-image: url("../images/simplebioscreenshot.png");
    
}

#javascript {
    grid-area: javaScript;
    background-image: url("../images/javascriptBI.jpg");
    
}

#calculator {
    grid-area: Calculator;
    background-image: url("../images/calculatorBI.jpg");
}

.projects {
    margin: 15px;
    border: solid red;
    border-width: 0.1cm;
    text-decoration: none;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.sectionTag {
    background-color: rgb(246, 6, 6, 0.8);
    margin: -1px;
    text-decoration: none;
    color: white;
    padding: 3px;
    
}

#contact-me {
    margin-bottom: 20px;
}

#cmContent {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "mobilephone"
    "email"
    "linkedin"
    "github";
}

#mobilephone {
    grid-area: mobilephone;
}

#email {
    grid-area: email;
}

#linkedin {
    grid-area: linkedin;
}

#github {
    grid-area: github;
}

.details {
    text-align: center;
    margin: 10px;
    font-size: larger;
}

footer {
    padding: 15px;
    background-color: rgb(147, 43, 43);
    text-align: center;
    color: white;
}